<!DOCTYPE html>
<html>
<head>
    <title>Transactions</title>
</head>
<body>
    <h1>My Transactions</h1>
    <h3>Summary</h3>
    <p>Total Income: ₹{{ total_income }}</p>
    <p>Total Expense: ₹{{ total_expense }}</p>
    <p><strong>Balance: ₹{{ balance }}</strong></p>

    <br>

    <table border="1" cellpadding="8">
        <tr>
            <th>Date</th>
            <th>Type</th>
            <th>Amount</th>
            <th>Description</th>
            <th>Action</th>
        </tr>

        {% for transaction in transactions %}
        <tr>
            <td>{{ transaction.date }}</td>
            <td>{{ transaction.type }}</td>
            <td>₹{{ transaction.amount }}</td>
            <td>{{ transaction.description }}</td>
            <td>
                <a href="/delete/{{ transaction.id }}/">Delete</a>
            </td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="4">No transactions yet.</td>
        </tr>
        {% endfor %}
    </table>

</body>
</html>